<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cover.css">
</head>
<body>
    <div id="col3" class="column">
        <div class="magazine-original">
          <div class="magazine-note">Original</div>
          <img src="https://i.pinimg.com/736x/ba/30/1a/ba301ab7870f0667a99e5910bb9b159a.jpg" alt="">
        </div>
        <div class="magazine">
          <div class="magazine-note">Made with html & css</div>
          <div class="magazine-content">
            <h1 id="vogue"><span>V</span><span>O</span><span>G</span><span>U</span><span>E</span></h1>
            <img class="text-overlay" src="" alt="">
            <div id="magazine-bottom-ari2" class="magazine-bottom">
              <div class="bottom">
                <h1>Ariana</h1>
                <h1>Grande</h1>
              </div>
            </div>
          </div>
          <img src="https://i.imgur.com/A4imyhf.jpg" alt="">
        </div>
      </div>
      <div class="column">
        <div class="magazine-original">
          <div class="magazine-note">Original</div>
          <img src="https://img.huffingtonpost.com/asset/5cd600572100003500c3ca7f.jpeg?ops=scalefit_630_noupscale" alt="">
        </div>
        <div class="magazine">
          <div class="magazine-note">Made with html & css</div>
          <div class="magazine-content">
            <h1><span>E</span><span>L</span><span>L</span><span>E</span></h1>
            <img class="text-overlay" src="https://i.imgur.com/jj5cgBo.png" alt="">
            <div class="magazine-bottom">
              <div class="magazine-left">
                <h2>Selena</h2>
                <div class="left-inner">
                  <p>On the</p>
                  <h3>Pressure to</h3>
                  <h3>be perfect</h3>
                  <h4>and what</h4>
                  <h4>her heart</h4>
                  <h4>wants <i>now</i></h4>
                  <p class="yellowbird">Plus</p>
                  <h3>The new</h3>
                  <h3>new age</h3>
                  <h5>Energy</h5>
                  <h5>Healing meets</h5>
                  <h5>Medicine</h5>
                  <h5 class="small-space">and what</h5>
                  <h5>medium is the</h5>
                  <h5>messanger</h5>
                  <h6 class="space">October 2015</h6>
                  <h6>elle.com</h6>
                </div>
              </div>
              <div class="magazine-right">
                <div class="right-inner">
                  <h2 class="top">Fashion</h2>
                  <h2>now:</h2>
                  <p>You need</p>
                  <h3>A sexy</h3>
                  <h3>boot</h3>
                  <h3>A well-</h3>
                  <h3>cut</h3>
                  <h3>coat</h3>
                  <h4>and a</h4>
                  <h4>knockout</h4>
                  <h4>dress</h4>
                  <p class="line">We've</p>
                  <p class="line">got the</p>
                  <p class="line">seasons</p>
                  <p class="line">95 best</p>
                  <div class="plus">
                    <div class="vert"></div>
                    <div class="horiz"></div>
                  </div>
                  <h4>12 page</h4>
                  <h3 class="large">Skin</h3>
                  <h4>Guide</h4>
                  <h4>real</h4>
                  <h4>science</h4>
                  <h4>Best new</h4>
                  <h4>Products</h4>
                </div>
              </div>
            </div>
          </div>
          <img src="https://i.pinimg.com/564x/f3/ea/63/f3ea6334ec0fc30629b05af587af87cf.jpg" alt="">
        </div>
      </div>
        <div class="magazine">
          <div class="magazine-note">Made with html & css</div>
          <div class="magazine-content">
            <h1 id="ariana"><span>E</span><span>L</span><span>L</span><span>E</span></h1>
            <!-- <img id="ariana-top" class="text-overlay" src="https://i.imgur.com/w0PvqIU.png" alt=""> -->
            <div id="magazine-bottom-ari" class="magazine-bottom">
              <h1>Ariana Grande</h1>
              <h1 class="ari-bottom">God is a woman</h1>
            </div>
          </div>
          <!-- <img src="https://www.imao.us/wp-content/uploads/2020/07/05_709_ELLE_AG_081_AL_136_w2QC-683x1024-1.jpg" alt=""> -->
        </div>
      </div>
</body>
</html>